.body-content
{
  margin-top: 5%;
}

.code-div
{
  margin-left: 20px;
}

.code
{
  font-family: monospace;
}

.container-fluid
{
  padding: 0 15%;
}

.content-container
{
  margin: 0 15%;
}

.footer-container
{
  padding: 20px;
  text-align: center;
  margin-bottom: 20px
}

.header
{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 225px;
}

.header-content
{
  padding: 2% 0;
  text-align: center;
}

.heading-lg {
  font-weight: 900;
  font-size: 2.5rem;
  margin: 0;
  line-height: 1.5;
  font-family: "Playfair Display", serif;
}

.loop-content
{
  visibility: hidden;
}

.primary-bg
{
  background-color: #ff4c68;
}

.subheading
{
  font-family: "Lato", sans-serif;
}

.text-light
{
  color: #fff;
}

.title
{
  font-family: "Playfair Display", serif;
  color: #fff;
}

a
{
  color: #fff;
}

body
{
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
}

body a
{
  color: #ff4c68;
}
